<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contratame</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contratame</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="padre">
    <img src="../../assets/img/yo.jpg" alt="">
    <div class="hijo">
      <h1>Nombre: <p> &nbsp;Ferwis</p></h1>
      <h1>Apellidos: <p> &nbsp;Encarnación Rijo</p></h1>
      <h1>Correo: <p> &nbsp;ferwisencarnacionrijo@gmail.com</p></h1>
      <h1>Telefono: <p> &nbsp;(829) 899-2082</p></h1>
    </div>
  </div>
</ion-content>
