.series-info{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: fit-content;
  }
  
  .series-info:hover{
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  
  .series-info .series-img{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .series-info .series-img img{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .series-info .series-img .series-overlay{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
  
  .series-info .series-img .series-overlay:hover{
    opacity: 1;
  }
  
  .series-info .series-img .series-overlay .series-link{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
