ion-img{
    width: 300px;
}

ion-card{
    width: fit-content;
    text-align: center;

}

.select{
    width: 100%;
    text-align: center;
}

ion-card-title{
    text-align: center;
}

.details{
    font-family: Arial, Helvetica, sans-serif;
}